extends layout

block content
  header
    // add a bootstrap navbar
    // Documentation about navbars at https://getbootstrap.com/docs/5.2/components/navbar/
  nav#myfirstnavbar.navbar.navbar-expand-md.navbar-dark.bg-primary.mb-4
    .container-fluid
      a.navbar-brand(href='#')= title
      i.bi.bi-camera.me-3
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon

  h3 Welcome to the #{title}
  br
  br 
  // adapter from https://getbootstrap.com/docs/4.0/components/forms/#horizontal-form
  .container
    .row.justify-content-md-center
      form(action="/add/newpoi" method="post")
        fieldset
          .form-group.row.mb-1
            label.col-sm-2.col-form-label(for="poiname") POI Name
            .col-sm-6
              input#poiname.form-control(type="text" name="pname" placeholder="Enter POI Name")

        script(defer='' src='/javascripts/seite1.js')
        // Einbinden der Karte
        #map
        // Einbinden des Textfeldes für das GeoJSON
        #data
          textarea#geojsontextarea.form-control(name = "pcoords")
          br
        button#onclickevent  Hier klicken um die Eingabe zu bestaetigen.
        br
        br
        // Einbinden des Bestaetigungsfeldes
        script.
          let element = document.getElementById("onclickevent");
        
        button.btn.btn-primary.mb-2(type="submit") Send